body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("images/image1.jpg");
    background-size:cover ;
    
    
}

.headi1{
    font-size: 19px;
    margin-top: 9px;
    color:rgb(167, 124, 45);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headi2{
    font-size: 16px;
    margin-top: 11px;
    color:rgb(167, 124, 45);
    text-align: center;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headi3{
    font-size: 23px;
    text-align: center;
    margin-top: 7px;
    color:rgb(167, 124, 45);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color:#2c3e50 ;
    width: 60px;
    height: 250px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;

}
.circle{
    background-color: rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}